/* CSS for the main content on Home Page*/
.welcome-box {
    margin: 2vh 8vw;
    color: #16325B;
    padding-left: 3vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
span {
    color: #227B94;
    font-weight: bold;
    
}

.content {
    margin: 2vh 8vw;
    display: flex;
    
}
.unit2, .unit3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-box1, .content-box2 {
    flex: 1;
    padding: 3vw;
}
.content-box1 {
    padding-right:1vw;
}
.content-box1 h2{
    color: #16325B;
    margin-bottom: 10px;
}
.content-box2 {
    padding-left: 8vw;
}

/* CSS for image slider on page*/

.slider {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
